In [1]:
import pandas as pd
import numpy as np

In [2]:
# path to annual wheat yield data by district from gro-intelligence
path = '/Users/demetrayancopoulos/Desktop/SML310/final_project/gro_ylds/wheat_bydistrict.xlsx'

In [3]:
# read in wheat yield data for minnesota and iowa
yld = pd.read_excel(path, sheet_name='ia_mn_yld')

In [4]:
# read in lat/lon coordinates for counties in minnesota
cmn = pd.read_excel(path, sheet_name='mn_coords')
cmn.set_index('County', inplace=True)

# read in lat/lon coordinates for counties in iowa
cia = pd.read_excel(path, sheet_name='ia_coords')
cia.set_index('County', inplace=True)

In [5]:
# initialize columns to store coordinates for each data entry
yld['lat'] = yld.index
yld['lon'] = yld.index

for ix in yld.index:
    # get county and state for this data entry
    county = yld.loc[ix].Region.split(',')[0]
    state = yld.loc[ix].Region.split(',')[1]
    
    # if this entry is in iowa, search iowa counties
    if 'Iowa' in state:
        lat = cia.loc[county][0]
        lon = cia.loc[county][1]
        
    # if this entry is in mn, search mn counties 
    elif 'Minnesota' in state:
        lat = cmn.loc[county][0]
        lon = cmn.loc[county][1]
    
    # store coords for this county in yld dataframe
    yld.iat[ix, 3] = lat
    yld.iat[ix, 4] = lon

In [6]:
# clean up data

# transform longitude from -180:180 to 0:360
for ix in yld.index:
    yld.iat[ix, 4] = (yld.loc[ix][4])%360

# drop region column
yld.drop(['Region'], axis = 1, inplace=True)


import math

for ix in yld.index:
    
    # year at this entry
    yr = yld.loc[ix].StartDate[0] + yld.loc[ix].StartDate[1] + yld.loc[ix].StartDate[2] + yld.loc[ix].StartDate[3]
    yr = int(yr)
    
    # value at this entry
    v = yld.loc[ix].Value
    
    # remove nan
    if math.isnan(v):
        yld.drop(ix, axis=0, inplace=True)
        
    # remove years before 1979
    elif (yr<1979):
        yld.drop(ix, axis=0, inplace=True)

In [7]:
# save as excel file
spath = '/Users/demetrayancopoulos/Desktop/SML310/final_project/gro_ylds/wheatf_mn_ia.xlsx'
yld.to_excel(spath)

In [8]:
yld

       StartDate     Value    lat     lon
58    1979-01-01  2.004066  46.53  266.29
59    1980-01-01  2.468095  46.53  266.29
60    1981-01-01  2.293243  46.53  266.29
61    1982-01-01  2.306694  46.53  266.29
62    1983-01-01  2.589146  46.53  266.29
...          ...       ...    ...     ...
9078  1993-01-01  1.963716  42.32  264.02
9079  1994-01-01  2.636221  42.32  264.02
9080  1995-01-01  2.152017  42.32  264.02
9081  1996-01-01  2.078042  42.32  264.02
9082  1997-01-01  2.279793  42.32  264.02

[3039 rows x 4 columns]