In [1]:
import xarray as xr
import os 
import pandas as pd

In [2]:
# function for rounding to nearest 1/4
def x_rnd(x):
    return round(x*4)/4

In [3]:
# path to annual wheat yields data
path = '/Users/demetrayancopoulos/Desktop/SML310/final_project/gro_ylds/wheatf_mn_ia.xlsx'
y = pd.read_excel(path)

## Extract monthly mean surface downward UV radiation flux

In [4]:
# path to monthly mean uv data
path = '/Users/demetrayancopoulos/Desktop/SML310/final_project/era5/monthly_uv/'

# retrieve all files in dataset
files = []
for file in os.listdir(path):
    if file.endswith('nc'):
        files.append(os.path.join(path, file))

# open files as xarray
ds = xr.open_mfdataset(files)

In [5]:
# store monthly mean uv at t/lat/lon where yield data is recorded
cols = ['yr', 'lat', 'lon', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
uv = pd.DataFrame(index = range(0, len(y.index)), columns=cols)

for ix in y.index:
    
    lat = y.loc[ix].lat     # retrieve latitude at this entry
    lat = x_rnd(lat)       # round lat coord to nearest 0.25
    
    lon = y.loc[ix].lon     # retrieve longitude at this entry
    lon = x_rnd(lon)        # round lon coord to nearest 0.25
    
    yr = y.loc[ix].StartDate[0] + y.loc[ix].StartDate[1] + y.loc[ix].StartDate[2] + y.loc[ix].StartDate[3]
    
    # t2m at this lat/lon
    uvd = ds.msdwuvrf.sel(latitude=lat, longitude=lon)
    
    # store monthly mean uv
    for i in range(1, 13):
        t = yr + '-' + str(i)
        uv.iat[ix, i+2] = uvd.sel(time=t).compute().values[0]
    
    # store yr for this point
    col = 0
    uv.iat[ix, col] = yr
    
    # store latitude for this point
    col = 1
    uv.iat[ix, col] = lat
    
    # store longitude for this point
    col = 2
    uv.iat[ix, col] = lon

spath = '/Users/demetrayancopoulos/Desktop/SML310/final_project/monthly_uv_mean.xlsx'
uv.to_excel(spath)

uv_mean = uv
uv_mean

,yr,lat,lon,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1979,46.5,266.25,7.893396,12.337778,16.133411,23.502058,24.887842,28.861267,28.680401,22.903845,18.836449,11.354656,7.551791,5.858568
1,1980,46.5,266.25,7.316613,12.666013,19.667547,24.9778,29.678968,29.699703,30.68788,23.353271,17.279018,11.055948,6.936198,5.36318
2,1981,46.5,266.25,8.048351,11.731904,17.903461,21.497919,29.352657,26.827602,27.476177,23.101936,19.783602,10.441667,7.51589,5.74052
3,1982,46.5,266.25,8.087467,12.490726,18.210485,25.972723,25.593451,29.83032,28.444332,24.782768,17.014591,10.261436,7.130731,5.145596
4,1983,46.5,266.25,7.352031,11.35504,15.287258,22.959387,28.730654,28.562807,29.828758,27.641376,17.771868,10.323773,5.922722,6.27344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3034,1993,42.25,264.0,10.906618,15.18335,20.213188,21.742367,25.148918,28.066626,26.840187,25.872936,19.433441,15.358197,10.50005,8.223681
3035,1994,42.25,264.0,10.762411,16.849882,22.226625,25.117241,31.564312,30.375237,31.009657,27.441387,22.025156,14.044232,9.649093,9.347895
3036,1995,42.25,264.0,10.340611,14.503151,17.660397,20.369808,23.407064,30.219896,33.259666,28.893814,21.143898,14.077996,9.999555,7.543568
3037,1996,42.25,264.0,10.177765,15.250299,20.902674,25.817516,21.114315,31.496807,31.67432,26.760105,21.057579,16.152843,8.099588,8.68619
3038,1997,42.25,264.0,10.90481,16.024443,20.322914,23.907745,27.331171,32.859581,32.75383,26.3547,22.176491,14.988703,9.774302,7.738596

## Extract monthly minimum surface downward UV radiation flux

In [6]:
# path to monthly min uv data
path = '/Users/demetrayancopoulos/Desktop/SML310/final_project/era5/monthly_mn'

# retrieve all files in dataset
files = []
for file in os.listdir(path):
    if file.endswith('nc'):
        files.append(os.path.join(path, file))

# open files as xarray
ds = xr.open_mfdataset(files)

In [7]:
# store monthly min uv at t/lat/lon where yield data is recorded
cols = ['yr', 'lat', 'lon', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
uv = pd.DataFrame(index = range(0, len(y.index)), columns=cols)

for ix in y.index:
    
    lat = y.loc[ix].lat     # retrieve latitude at this entry
    lat = x_rnd(lat)       # round lat coord to nearest 0.25
    
    lon = y.loc[ix].lon     # retrieve longitude at this entry
    lon = x_rnd(lon)        # round lon coord to nearest 0.25
    
    yr = y.loc[ix].StartDate[0] + y.loc[ix].StartDate[1] + y.loc[ix].StartDate[2] + y.loc[ix].StartDate[3]
    
    # t2m at this lat/lon
    uvd = ds.msdwuvrf.sel(latitude=lat, longitude=lon)
    
    # store monthly min uv
    for i in range(1, 13):
        t = yr + '-' + str(i)
        uv.iat[ix, i+2] = uvd.sel(time=t).compute().values[0]
    
    # store yr for this point
    col = 0
    uv.iat[ix, col] = yr
    
    # store latitude for this point
    col = 1
    uv.iat[ix, col] = lat
    
    # store longitude for this point
    col = 2
    uv.iat[ix, col] = lon

spath = '/Users/demetrayancopoulos/Desktop/SML310/final_project/monthly_uv_min.xlsx'
uv.to_excel(spath)

uv_min = uv
uv_min

,yr,lat,lon,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1979,46.5,266.25,5.867404,7.307706,5.406652,5.436179,4.444611,10.005933,12.35936,6.352109,9.163518,1.494815,3.212389,3.216737
1,1980,46.5,266.25,2.115879,7.840612,7.367138,9.458897,10.162502,14.53888,19.411079,11.511013,6.162444,2.587934,1.491301,1.371466
2,1981,46.5,266.25,3.885535,2.967697,8.55902,5.646469,12.233327,10.09631,8.431142,9.098206,2.158887,2.278256,1.528028,2.931835
3,1982,46.5,266.25,2.406902,7.638334,5.722885,7.885361,9.39888,14.205475,9.83809,8.925835,4.165988,2.252729,1.52519,1.904216
4,1983,46.5,266.25,3.202263,5.4667,3.843818,9.89421,11.096625,11.289641,15.094498,15.509414,3.244596,3.451945,1.582742,2.802483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3034,1993,42.25,264.0,2.651801,2.859469,3.505685,5.692194,6.920522,10.91639,9.669993,6.90744,4.177294,6.814721,1.204176,2.158905
3035,1994,42.25,264.0,6.263547,6.077917,13.024188,4.574591,6.436062,16.274137,8.355413,14.626801,2.822335,3.463787,1.366178,3.654457
3036,1995,42.25,264.0,2.683017,5.660931,6.043078,3.738953,5.94573,8.291625,13.034015,11.65549,7.239082,3.349012,1.563305,1.86453
3037,1996,42.25,264.0,3.144888,7.21107,4.035708,8.780334,4.532662,14.35764,12.795068,16.195116,5.818617,5.338217,1.165178,2.527759
3038,1997,42.25,264.0,3.92422,4.536651,4.027733,3.423837,6.730031,17.499662,23.876299,9.079453,4.477107,2.653831,4.92727,2.907222

## Extract monthly maximum surface downward UV radiation flux

In [8]:
# path to monthly max uv data
path = '/Users/demetrayancopoulos/Desktop/SML310/final_project/era5/monthly_uv/monthly_mx'

# retrieve all files in dataset
files = []
for file in os.listdir(path):
    if file.endswith('nc'):
        files.append(os.path.join(path, file))

# open files as xarray
ds = xr.open_mfdataset(files)

In [9]:
# store monthly mean uv at t/lat/lon where yield data is recorded
cols = ['yr', 'lat', 'lon', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
uv = pd.DataFrame(index = range(0, len(y.index)), columns=cols)

for ix in y.index:
    
    lat = y.loc[ix].lat     # retrieve latitude at this entry
    lat = x_rnd(lat)       # round lat coord to nearest 0.25
    
    lon = y.loc[ix].lon     # retrieve longitude at this entry
    lon = x_rnd(lon)        # round lon coord to nearest 0.25
    
    yr = y.loc[ix].StartDate[0] + y.loc[ix].StartDate[1] + y.loc[ix].StartDate[2] + y.loc[ix].StartDate[3]
    
    # t2m at this lat/lon
    uvd = ds.msdwuvrf.sel(latitude=lat, longitude=lon)
    
    # store monthly max uv
    for i in range(1, 13):
        t = yr + '-' + str(i)
        uv.iat[ix, i+2] = uvd.sel(time=t).compute().values[0]
    
    # store yr for this point
    col = 0
    uv.iat[ix, col] = yr
    
    # store latitude for this point
    col = 1
    uv.iat[ix, col] = lat
    
    # store longitude for this point
    col = 2
    uv.iat[ix, col] = lon

spath = '/Users/demetrayancopoulos/Desktop/SML310/final_project/monthly_uv_max.xlsx'
uv.to_excel(spath)

uv_max = uv
uv_max

,yr,lat,lon,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1979,46.5,266.25,10.306314,18.131632,27.743898,32.775284,38.074921,38.650188,37.658672,34.159595,27.129221,18.671141,10.564022,7.924421
1,1980,46.5,266.25,11.068047,18.798113,27.681452,33.356083,37.858456,39.097134,38.900391,33.700043,26.962677,18.326086,10.954846,7.730878
2,1981,46.5,266.25,10.855655,16.454365,23.589914,32.175991,37.269798,37.841091,38.886494,32.567024,27.613436,19.302797,12.026774,7.376588
3,1982,46.5,266.25,11.694034,17.752012,27.274719,33.328823,37.511909,38.687077,38.904358,34.116764,27.43701,18.224833,11.649025,7.310244
4,1983,46.5,266.25,10.339679,16.576296,23.933365,32.249161,36.432854,38.546055,37.64085,34.008362,27.705177,17.576391,10.488236,7.757315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3034,1993,42.25,264.0,14.917458,24.817179,26.848383,33.315845,37.532043,38.670216,38.053814,35.771946,29.646788,21.549509,13.065944,10.262635
3035,1994,42.25,264.0,14.082778,23.910822,28.233513,33.170338,38.390057,39.398121,37.352558,35.223133,28.407173,20.057798,13.891285,11.780967
3036,1995,42.25,264.0,13.5782,19.799109,27.533394,33.35453,36.055622,39.286453,38.936428,34.760723,30.145269,22.266563,14.147717,10.215693
3037,1996,42.25,264.0,15.510673,19.95154,32.917347,33.505589,38.19743,39.601421,38.46653,35.298893,28.690935,21.668936,14.301697,11.284416
3038,1997,42.25,264.0,15.118762,20.449068,28.383591,39.339943,37.873981,39.487949,38.285789,34.222725,28.968462,21.954336,12.340968,10.437699