In [1]:
import xarray as xr
import os 
import pandas as pd

In [2]:
# function for rounding to nearest 1/4
def x_rnd(x):
    return round(x*4)/4

In [3]:
# path to annual wheat yields data
path = '/Users/demetrayancopoulos/Desktop/SML310/final_project/gro_ylds/wheatf_mn_ia.xlsx'
y = pd.read_excel(path)

In [4]:
# path to monthly precip data
path = '/Users/demetrayancopoulos/Desktop/SML310/final_project/era5/mean_tot_precip_monthly/era5.mean_total_precipitation_rate.monthly.1979-2020.nc'
ds = xr.open_dataset(path)

In [8]:
# store monthly total precipitation at t/lat/lon where yield data is recorded
cols = ['yr', 'lat', 'lon', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
precip = pd.DataFrame(index = range(0, len(y.index)), columns=cols)

In [16]:
for ix in y.index:
    
    lat = y.loc[ix].lat     # retrieve latitude at this entry
    lat = x_rnd(lat)       # round lat coord to nearest 0.25
    
    lon = y.loc[ix].lon     # retrieve longitude at this entry
    lon = x_rnd(lon)        # round lon coord to nearest 0.25
    
    yr = y.loc[ix].StartDate[0] + y.loc[ix].StartDate[1] + y.loc[ix].StartDate[2] + y.loc[ix].StartDate[3]
    
    # t2m at this lat/lon
    mtpr = ds.mtpr.sel(latitude=lat, longitude=lon)
    
    # store monthly max t2m for this lat/lon/yr
    for i in range(1, 13):
        t = yr + '-' + str(i)
        precip.iat[ix, i+2] = mtpr.sel(time=t).values[0]
    
    # store yr for this point
    col = 0
    precip.iat[ix, col] = yr
    
    # store latitude for this point
    col = 1
    precip.iat[ix, col] = lat
    
    # store longitude for this point
    col = 2
    precip.iat[ix, col] = lon

#spath = '/Users/demetrayancopoulos/Desktop/SML310/final_project/monthly_precip_rate.xlsx'
#precip.to_excel(spath)

precip

,yr,lat,lon,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1979,46.5,266.25,1.169276,1.590713,2.758193,2.306269,4.040448,2.485603,4.187505,3.13301,1.490286,3.066655,0.719142,0.310253
1,1980,46.5,266.25,1.438516,0.66613,1.168793,0.600746,1.080929,2.249721,2.597089,6.698068,3.304081,1.986129,0.700866,0.674307
2,1981,46.5,266.25,0.26834,1.418595,1.440567,2.901528,1.112592,6.014909,4.269907,2.245587,1.482933,2.761869,0.505298,0.965082
3,1982,46.5,266.25,1.410247,0.833731,1.900286,2.02002,3.82939,2.006718,4.995723,2.317147,4.055561,4.680859,2.146413,1.802721
4,1983,46.5,266.25,1.218702,0.598433,1.653325,1.629301,1.557229,3.874496,4.066695,2.837075,3.813342,2.583727,2.767185,1.205596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3034,1993,42.25,264.0,1.17959,1.559934,2.713237,2.704471,5.522873,6.953105,6.748032,4.692074,4.250384,1.240936,1.437243,0.822033
3035,1994,42.25,264.0,1.228182,0.912035,0.124547,2.753345,1.105556,4.213365,4.577409,2.536835,3.743935,1.850895,2.017586,1.099808
3036,1995,42.25,264.0,0.531771,0.359252,3.184548,4.562689,5.492276,2.914599,2.330057,1.637941,4.516008,2.945045,0.763157,0.479001
3037,1996,42.25,264.0,1.184126,0.299093,1.357285,1.0407,8.295897,4.259014,3.081878,2.328025,2.011441,1.476224,3.17458,1.114161
3038,1997,42.25,264.0,0.806,1.130129,1.192792,3.472502,2.981984,4.006235,2.029047,2.605996,2.679466,1.413199,0.490512,0.622326